// colors
$primary-black: #000;
$primary-gray-500: #808080;
$primary-gray-400: #999;
$primary-gray-300: #ccc;
$primray-gray-200: #d6dadd;
$primray-gray-100: #f8f9fa;
$primary-white: #fff;
$primary-blue: #0389ff;

//fonts
$font-worksans: 'Work Sans',arial;
$font-weight-light:300 ;
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;


